.top-header {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin-top: 10px;
  padding-bottom: 15px;
  align-items: center;
  .language-selector {
    position: relative;
    .fa-sort-down {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-70%);
        color: $primary-color;
    }
  }
  #language {
    padding: 8px 40px;
    border: 2px solid $primary-color;
    appearance: none;
    background-color: #fff;
    cursor: pointer;
    font-size: 15px;
  }
  #language:focus { 
    outline: none;
    border-color: #007bff;
  }
  option {
    padding: 10px;
  }

  .top-header-contact a {
    color: $gray-light;
    .fa-phone {
        color: $primary-color;
        font-size: 18px;
        margin-right: 10px;
    }

    &:hover, &:focus, &:active {
        color: $primary-color;
    }
  }
}
[data-menu].sticky {
  position: fixed;
  top: 0;
  z-index: 999;
  left: 0;
  right: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  max-width: unset;
  background-color: $secondary-color;
  .header-nav {
    padding: 1rem 0;
  }
}
.header-nav {
  padding: 2rem 0;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s linear;
  .header-nav-menu {
    display: flex;
    gap: 2rem;
    align-items: baseline;
  }
  .nav-menu-item {
    position: relative;
    .header-nav-subMenu {
      position: absolute;
      min-width: remCalc(150px);
      padding: 0.5rem 1rem;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border-radius: 6px;
      transition: all 0.2s linear;
      opacity: 0;
      visibility: hidden;
      z-index: 1000;
      background-color: $secondary-color;
    }
    .nav-subMenu-item {
      padding: 0.5rem 0;
      color: $gray-dark;

      &:hover, &:active {
        color: $primary-color;
      }
    }

    &:hover {
      .header-nav-subMenu {
        opacity: 1;
        visibility: visible;
      }
      .nav-menu-link::after {
        width: 100%;
      }
    }
  }
  .nav-menu-link {
    color: $gray-dark;
    font-weight: 600;
    position: relative;
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;

    .fa {
      color: $gray-dark;
    }

    &::after {
      width: 0;
      height: 2px;
      border-radius: 1000px;
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      transition: width 0.2s linear;
      background-color: $primary-color;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

.language-selector {
  position: relative;
  display: inline-block;
}

.language-selector .selected-language {
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  border: 2px solid $primary-color;
  cursor: pointer;
  min-width: 120px;
}

.language-selector .language-options {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1000;
  width: 100%;
}

.language-selector .language-options ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.language-selector .language-options li {
  padding: 10px;
  cursor: pointer;
}

.language-selector .language-options li:hover {
  background-color: #f0f0f0;
}

@media screen and (max-width: 801px) {
  
}