.box-immigration-procedure {
    display: flex;
    gap: 30px;
    img {
        flex-shrink: 0;
    }
    .box-immigration-content {
        padding: 0 30px;
    }
}

.immigration-item {
    margin-top: 20px;
    h3 {
        font-size: 45px;
        font-weight: bold;
    }
    .button-wrapper {
        margin-top: 20px;
    }
    .button-primary {
        min-width: 296px;
    }
}
.immigration-article-list {
    margin-top: 20px;
    .immigration-article-item + .immigration-article-item {
        margin-top: 30px;
    }
    .immigration-article-item {
        display: flex;
        gap: 30px;
    }
    .immigration-article-img {
        flex-shrink: 0;
    }

    .immigration-article-desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h3 {
            font-size: 24px;
            line-height: 1;
            margin-bottom: 15px;
        }

        a {
            color: $gray-darker;
            transition: 0.3s;

            &:hover {
                color: $primary-color;
            }
        }
        .immigration-article-date {
            text-align: right;
        }
    }
}
.article-title {
    font-size: 40px;
    margin-bottom: 5px;
    line-height: 1.25;
}
.article-info {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.article-content {
    .article-img {
        text-align: center;
        text-align: -webkit-center;
        margin-bottom: 30px;
    }
}

@media (max-width: 801px) {
    .box-immigration-procedure{
        flex-direction: column;

        .box-immigration-content {
            padding: 0;
        }
        h2 {
            font-size: 35px;
            text-align: center;
        }
    }

    .immigration-item h3 {
        font-size: 35px;
        text-align: center;
    }

    .immigration-title {
        margin-bottom: 30px;
    }

    .immigration-title h2 {
        font-size: 35px;
        text-align: center;
    }

    .immigration-article-list .immigration-article-item {
        flex-direction: column;
    }

    .immigration-article-img img {
        width: 100%;
    }
    .immigration-article-list .immigration-article-desc .immigration-article-date {
        text-align: left;
        margin-top: 10px;
    }
}