*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 1000px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  min-width: 1200px;
  overflow-x: hidden;
  font-family: 'Lato';
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,h2,h3,h4,h5,cite {
  font-family: "PT Serif", serif;
}
h2 {
  font-size: 45px;
}
p + p {
  margin-top: 27px;
}